<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言板</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            padding: 100px;
        }
        
        textarea {
            width: 200px;
            height: 100px;
            border: 1px solid pink;
            outline: none;
            resize: none;
        }
        
        ul {
            margin-top: 50px;
        }
        
        li {
            width: 300px;
            padding: 5px;
            background-color: rgb(245, 209, 243);
            color: red;
            font-size: 14px;
            margin: 15px 0;
        }
        
        li a {
            float: right;
        }
    </style>
</head>

<body>
    <textarea></textarea>
    <button>发布</button>
    <ul>
    </ul>
    <script>
        // 点击发布，会把文本域中的内容发布到ul中
        // 点击删除，会删除留言
        // 1.获取事件源 文本域 按钮 文本域
        var text = document.querySelector('textarea');
        var btn = document.querySelector('button');
        var ul = document.querySelector('ul');
        // 2.注册点击事件
        btn.onclick = function() {
            // 首先会创建一个li  并把文本域的内容给li 再把li添加到ul中
            var li = document.createElement('li');
            if (text.value == '') {
                alert('您没有输入内容');
                return false;
            } else {
                // 文本域的值 value
                // 增加一个删除留言的按钮
                li.innerHTML = text.value + '<a href="javascript:;">删除</a>';
                //appendChild()插入在最后
                ul.insertBefore(li, ul.children[0]); // 把最新的发布放到最前面
                text.value = '';
                // ul.appendChild(li);

                // 3.注册删除点击事件
                var removeBtn = document.querySelectorAll('a');
                for (var i = 0; i < removeBtn.length; i++) {
                    removeBtn[i].onclick = function() {
                        ul.removeChild(this.parentNode);
                    }
                }
            }
        }
    </script>
</body>

</html>